#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.text_area {
  margin: 5rem;
  border: 1rem solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
  .swiper_container {
  margin-top: 3rem;
  padding: 0rem 15rem;
}

.one_card {
  height: 10rem;
  background-color: pink;
  color:black;
  border: 0.5rem solid rgb(255, 134, 154);
}

.swiper-pagination {
  position: relative;
  margin-top: 1rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: pink;
}

.swpier-wrapper {
  transition-timing-function: linear;

  #post_code {
  width: 4rem;
}

.card {
  padding: 0rem 10rem;
}
