#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.text_area {
  margin: 5rem;
  border: 1rem solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
